.backend{
    // background-color: blue;
    background-image: url("../Images/bg.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.title{
    text-align: center;
    color: white;
}
.cards{
    margin:40px;
    display:flex;
    justify-content: space-around;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    backdrop-filter: blur(6px);
}
.cards:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}
.pyth,
.jav,
.nod{
    text-align: center;
    color: white;
}
.intro,
.intro1,
.intro2{
    padding: 20px;
    color: white;
}
.pyicon,
.jaicon,
.ndicon{
    // display: flex;
    // justify-content: center;
    padding-left: 33%;
    font-size: 90px;
    color: #61dafb;
}
.card1,
.card2,
.card3{
    border: 1px solid white;
    border-radius: 12px;
    margin: 20px;
    height: auto;
    width: 20%;
}
.card1:hover,
.card2:hover,
.card3:hover {
    transform: translateY(-12px) scale(1.05);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.6);
    border-color: transparent;
    background: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

// Mobile Application
@media(max-width: 600px){
    .cards{
        flex-direction: column;   
        align-items: center;
        margin: 20px;
        display:flex;
        justify-content: space-around;
        color: white;
        transition: all 0.3s ease;
        cursor: pointer;
        backdrop-filter: blur(6px);
    }
    .cards:hover {
        transform: translateY(-12px);
        box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    }
    .card1,
    .card2,
    .card3 {
        width: 90%;          
        height: auto;        
        margin: 15px;
        border: 1px solid white;
        border-radius: 12px;
    }

    .pyicon,
    .jaicon,
    .ndicon {
        padding-left: 33%;     
        text-align: center;
        display: block;
        font-size: 70px;    
    }
     .title {
        font-size: 22px;
        padding: 20px;
    }
    .backend{
        // background-color: blue;
        background-image: url("../Images/bg.jpg");
        min-height: 100vh;
        background-size: cover;
        background-position: center;
    
    }
    .intro,
    .intro1,
    .intro2 {
        font-size: 14px;
        text-align: center;
    }
    .card1:hover,
    .card2:hover,
    .card3:hover {
        transform: translateY(-12px) scale(1.05);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.6);
        border-color: transparent;
        background: rgba(255, 255, 255, 0.1);
        text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}
}